#!/usr/bin/env bash
#
# ############################################################################
# Project: xSHELL (none)
# File...: examples/env.template
# Created: Saturday, 2026/08/08 - 11:33:09
# Author.: @fbnmtz, (fabiano.matoz@gmail.com)
# ~·~·~·~·~·~·~·~·~·~·~·~·~~·~·~·~·~·~·~·~·~·~·~·~·~~·~·~·~·~·~~·~·~·~·~·~·~·~
# Last Modified: Saturday, 2026/08/08 - 20:33:22
# Modified By..: @fbnmtz, (fabiano.matoz@gmail.com)
# ~·~·~·~·~·~·~·~·~·~·~·~·~~·~·~·~·~·~·~·~·~·~·~·~·~~·~·~·~·~·~~·~·~·~·~·~·~·~
# Version: 0.0.1.11
# ~·~·~·~·~·~·~·~·~·~·~·~·~~·~·~·~·~·~·~·~·~·~·~·~·~~·~·~·~·~·~~·~·~·~·~·~·~·~
# Description: 
#  >
# ############################################################################
# HISTORY:
#

# environment variables for xSHELL. Need to change installation (xshell path)
# this should be add in 
#  ~/.bashrc or ~/.zshrc or ~/.profile or ~/.bash_profile or ~/.bash_login or ~/.login
#  /etc/profile or /etc/bash.bashrc or /etc/zsh/zshrc or /etc/zsh/zprofile
export xSHELL_PATH="/opt/xSHELL"
export xSHELL_INIT="${xSHELL_PATH}/init"
export xSHELL_BIN="${xSHELL_PATH}/bin"
export xSHELL_SCRIPTS="${xSHELL_PATH}/scripts"
export xSHELL_EXAMPLES="${xSHELL_PATH}/examples"
export PATH="$PATH:$xSHELL_PATH:$xSHELL_BIN:$xSHELL_SCRIPTS:$xSHELL_EXAMPLES:$HOME/bin"
xs_init(){ source "${xSHELL_PATH}/init" ; }
