#
# #############################################################################
# Project: bin (none)
# File...: torctl.rc
# Created: Saturday, 2022/12/17 - 21:39:37                                    #
# Author.: @fbnmtz, (fabiano.matoz@gmail.com)                                 #
# ~·~·~·~·~·~·~·~·~·~·~·~·~~·~·~·~·~·~·~·~·~·~·~·~·~~·~·~·~·~·~~·~·~·~·~·~·~·~#
# Last Modified: Thursday, 2022/12/29 - 23:18:12
# Modified By..: @fbnmtz, (fabiano.matoz@gmail.com)
# ~·~·~·~·~·~·~·~·~·~·~·~·~~·~·~·~·~·~·~·~·~·~·~·~·~~·~·~·~·~·~~·~·~·~·~·~·~·~#
# Version: 0.0.2.27
# ~·~·~·~·~·~·~·~·~·~·~·~·~~·~·~·~·~·~·~·~·~·~·~·~·~~·~·~·~·~·~~·~·~·~·~·~·~·~#
# Description:                                                                #
#  >                                                                          #
# #############################################################################
# HISTORY:                                                                    #
#

# VirtualAddrNetwork 10.0.0.0/10
# TransListenAddress 0.0.0.0
# DNSListenAddress 0.0.0.0
# AutomapHostsOnResolve 1
# RunAsDaemon 1
# ControlPort 9051

TransPort 9040
SOCKSPort 9050
DNSPort 5353